@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
   --primary-color: #F16615;
   --secondary-color: #142342;
   --terciary-color: #E7EFF2;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color: var(--secondary-color);
}

.container {
    width: 80rem;
    margin: auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.buttom {
    padding: 1.2rem 1.4rem;
    background-color: var(--terciary-color);
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--secondary-color);
    font-weight: 700;
}

