@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
   --primary-color: #F16615;
   --secondary-color: #142342;
   --terciary-color: #E7EFF2;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color: var(--secondary-color);
}

.container {
    max-width: 100rem;
    margin: auto;
    padding: 0rem 2rem;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.buttom {
    padding: 1.0rem 1.2rem;
    background-color: var(--terciary-color);
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--secondary-color);
    font-weight: 700;
}

#banner .container {
    display: flex;
    padding: 7rem 2rem;
}

#banner .container .lado-esquerdo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

 h1{
    font-size: 3rem;
    line-height: 3rem;
}

 p{
    margin: 1.5rem 0rem;
    font-size: 1rem;
}

#banner .container .lado-esquerdo h1,
#banner .container .lado-esquerdo p{
    max-width: 30rem;
}

#banner .container .lado-esquerdo .lado-esquerdo-buttoms {
    display: flex;
    align-items: center;
}

#banner .container .lado-esquerdo .lado-esquerdo-buttoms p{
    margin-left: 2rem;
    color: #C4C4C4;
}

#banner .container .lado-esquerdo .lado-esquerdo-buttoms a{
    background-color: var(--primary-color);
    color: var(--terciary-color);
}

#banner .container .lado-direito {
    display: flex;
    justify-content: center;
    flex: 1;
}

#banner .container .bloco {
    width: 10rem;
    height: 16rem;
    border-radius: 15px 0px 0px 15px;
    position: absolute;
    right: 0px;
    background-color: var(--terciary-color);
}

#descricao .container {
    display: flex;
}

#descricao .container .lado-esquerdo {
    display: flex;
    flex: 1;
}

#descricao .container .lado-esquerdo img {
    margin-right: 1rem;
}

#descricao .container .lado-direito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#descricao .container .lado-direito h1,
#descricao .container .lado-direito p {
    max-width: 25rem;
}

#descricao .container .bloco {
    width: 8rem;
    height: 16rem;
    border-radius: 0px 15px 15px 0px;
    position: absolute;
    left: 0px;
    margin-top: 20rem;
    background-color: var(--terciary-color);
}

#recursos {
    padding: 10rem 0rem;
}

#recursos .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#recursos .cards .card{
    width: 300px;
    height: 300px;
    padding: 10px;
}

#recursos .cards .card img{
    width: 20%;
}

#recursos .cards .card h2{
    font-size: 1.3rem;
    margin-top: 1rem;
}

#recursos .cards .card p{
    font-size: 0.9rem;
    margin-top: 1rem;
}

#recursos .cards .card h2,
#recursos .cards .card p{
    max-width: 13rem;
}

#recursos .desativado {
    display: none;
}

footer {
    display: flex;
    justify-content: center;
}


@media (max-width: 1440px) {
    #banner .container .bloco {
        width: 6rem;
    }

    #descricao .container .bloco {
        width: 5rem;
    }

    .container {
        padding: 0rem 7rem;
    }   

    #banner .container {
        padding: 7rem 7rem;
    }

    
    #descricao .container .lado-direito h1,
    #descricao .container .lado-direito p {
        margin-left: 5rem;
    }

    #recursos .desativado {
        display: block;
    }
    

}

@media (max-width: 1250px) {

    body {
        font-size: 10px;
    }

    #banner .container .bloco {
        display: none;
    }

    #descricao .container .bloco {
        display: none;
    }

    .container {
        padding: 0rem 4rem;
    }

    #banner .container {
        padding: 7rem 7rem;
    }

    #banner .container .lado-direito img {
        width: 100%;
    }

    #descricao .container .lado-esquerdo img {
        width: 50%;
    }

    #descricao .container .lado-direito h1,
    #descricao .container .lado-direito p {
        margin-left: 5rem;
    }

    #recursos .container .cards{
        margin-left: 6rem;
    }

      #recursos .desativado {
        display: none;
    }

    @media (max-width: 768px) {

        body {
            font-size: 12px;
        }
    
        #banner .container .bloco {
            display: none;
        }
    
        .container {
            padding: 0rem 2rem;
        }
    
        #banner .container {
            padding: 3rem 0rem;
            margin-left: 3rem;
        }
        
    
        #banner .container .lado-direito img {
            width: 100%;
        }

        #descricao .container {
            display: block;
        }
    
        #descricao .container .bloco {
            display: none;
        }

        #descricao .container .lado-esquerdo img:first-child {
            background-size: cover;
            width: 15rem;
            height: 20rem;
        }
    
        #descricao .container .lado-esquerdo img {
            background-size: cover;
            width: 30rem;
            height: 20rem;
        }
    
        #descricao .container .lado-direito h1,
        #descricao .container .lado-direito p {
            margin: 4rem 0rem;
        }

        #descricao .container .lado-direito {
            flex-direction: row;
        }

        #descricao .container .lado-direito p{
            font-size: 1rem;
        }

        #descricao .container .lado-direito h1{
            font-size: 2rem;
            line-height: 2rem;
        }
    
        #recursos .container .cards{
            margin-left: 6rem;
        }

    } 
    
    @media (max-width: 940px) {

        body {
            font-size: 12px;
        }
    
        #banner .container .bloco {
            display: none;
        }
    
        .container {
            padding: 0rem 2rem;
        }
    
        #banner .container {
            padding: 3rem 0rem;
            margin-left: 3rem;
        }
        
    
        #banner .container .lado-direito img {
            width: 100%;
        }

        #descricao .container {
            display: block;
        }
    
        #descricao .container .bloco {
            display: none;
        }

        #descricao .container .lado-esquerdo img:first-child {
            background-size: cover;
            width: 15rem;
            height: 20rem;
        }
    
        #descricao .container .lado-esquerdo img {
            background-size: cover;
            width: 30rem;
            height: 20rem;
        }
    
        #descricao .container .lado-direito h1,
        #descricao .container .lado-direito p {
            margin: 4rem 0rem;
        }

        #descricao .container .lado-direito {
            flex-direction: row;
        }

        #descricao .container .lado-direito p{
            font-size: 1rem;
        }

        #descricao .container .lado-direito h1{
            font-size: 2rem;
            line-height: 2rem;
        }
    
        #recursos .container .cards{
            margin-left: 6rem;
        }
    } 

    @media (max-width: 700px) {

        body {
            font-size: 12px;
        }

        header .container {
            padding: 2rem;
        }
    
        #banner .container .bloco {
            display: none;
        }
    
        .container {
            padding: 0rem 0rem;
        }
    
        #banner .container {
            display: block;
            padding: 3rem 0rem;
            margin-left: 3rem;
        }
        
    
        #banner .container .lado-direito img {
            width: 100%;
            margin-left: 3rem;
            margin-top: 2rem;
        }

        #descricao .container {
            display: block;
        }
    
        #descricao .container .bloco {
            display: none;
        }

        #descricao .container .lado-esquerdo img:first-child {
            background-size: cover;
            width: 15rem;
            height: 20rem;
        }
    
        #descricao .container .lado-esquerdo img {
            background-size: cover;
            width: 30rem;
            height: 20rem;
        }
    

        #descricao .container .lado-direito {
            flex-direction: column;
            text-align: center;
        }

        #descricao .container .lado-direito p{
            font-size: 1rem;
            margin: 0rem;
   
        }

        #descricao .container .lado-direito h1{
            font-size: 1.8rem;
            line-height: 2rem;
            margin: 2rem 0rem;
        }

        #descricao .container .lado-direito h1,
        #descricao .container .lado-direito p {
            max-width: 21rem;
        }
    
        #recursos .container .cards{
            margin-left: 6rem;
        }

        .card {
            text-align: center;
            
        }

        #recursos .cards .card h2, #recursos .cards .card p {
            max-width: 15rem;
            margin-left: 1rem;
        }

        #recursos .container .cards {
            margin: 0rem;
        }

        #recursos .container .card {
            margin: 0rem;
            justify-content: center;
        }
    } 
}